doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= pageTitle
        link(rel='stylesheet', href='/css/style.css')
    body
        .container
            h1  Lista de Verduras
            
            a(href='/update-cobj')  Añadir a esta tabla
            
            if error
                .error= error
            
            if verduras && verduras.length > 0
                table
                    thead
                        tr
                            th  ID
                            th  Nombre
                            th  Tipo de Verdura
                    tbody
                        each verdura in verduras
                            tr
                                td= verdura.id
                                td= verdura.properties.nombre || 'Sin nombre'
                                td= verdura.properties.tipo_de_verdura || 'Sin tipo'
            else
                p  No hay verduras registradas. 
                    br
                    a(href='/update-cobj') ¡Crea la primera verdura!